<script setup>
import { onMounted, ref } from 'vue';
import init from "./services/init";
import settingsService from "./services/settings";
import Modal from "./components/Modal.vue";


// (new Date()).getSeconds

const PULL_INTERVAL = 5500;
const showModal = ref(false);

const current = ref({
  temp: 0,
  humidity: 0,
  status: 0,
  init: false,
});

const settings = ref({
  temp: 0,
  humidity: 0
});

const settings_tmp = ref({
  temp: 27,
  humidity: 30,
  loading: false,
  saved: false,
});

const lastSync = ref({
  _lastCurrentSync: '',
  _lastUserSync: '',
});



function close() {
  showModal.value = false;

  settings_tmp.value.humidity = settings.value.humidity;
  settings_tmp.value.temp = settings.value.temp;
}

function save() {
  settings_tmp.value.loading = true;

  settings.value.humidity = settings_tmp.value.humidity;
  settings.value.temp = settings_tmp.value.temp;

  settingsService({
    ...settings.value
  })
  .then((data) => {
    settings_tmp.value.loading = false;
    settings_tmp.value.saved = true;

    current.value = {
      ...data.current,
      init: true,
    };

    settings.value = {
      ...data.settings,
    };

    lastSync.value = {
      _lastCurrentSync: data._lastCurrentSync !== 0 ? new Date(data._lastCurrentSync) : 0,
      _lastUserSync: data._lastUserSync !== 0 ? new Date(data._lastUserSync) : 0,
    };

  })
  .catch((err) => console.log(err))
  .finally(() => {
    setTimeout(() => {
      showModal.value = false;
      settings_tmp.value.saved = false;
    }, 500);
  });

}


onMounted(() => {
  init()
      .then((data) => {
        console.log(data);
        current.value = {
          ...data.current,
          init: false,
        };
  
        settings.value = {
          ...data.settings,
        };

        settings_tmp.value.humidity = settings.value.humidity;
        settings_tmp.value.temp = settings.value.temp;
  
        lastSync.value = {
          _lastCurrentSync: data._lastCurrentSync !== 0 ? new Date(data._lastCurrentSync) : 0,
          _lastUserSync: data._lastUserSync !== 0 ? new Date(data._lastUserSync) : 0,
        };
      })
      .catch((e) => console.log(e))
      .finally(() => {
        current.value.init = true;

        setInterval(() => {
          
          init()
            .then((data) => {
              console.log(data);
              current.value = {
                ...data.current,
                init: true,
              };
        
              settings.value = {
                ...data.settings,
              };
        
              lastSync.value = {
                _lastCurrentSync: data._lastCurrentSync !== 0 ? new Date(data._lastCurrentSync) : 0,
                _lastUserSync: data._lastUserSync !== 0 ? new Date(data._lastUserSync) : 0,
              };
            })
            .catch((e) => console.log(e))
            .finally(() => current.value.init = true);
          
        }, PULL_INTERVAL);
      });

});


</script>

<template>
  

  <nav>
    <div class="logo">
      <h1>
        <strong>The Room Cooling System</strong>
      </h1>
    </div>

    <div class="settings">
      <button @click="showModal = true">Change Settings</button>
      <a href="https://gitlab.com/W2AlharbiMe/iot-web">
        <img src="./assets/gitlab.png" alt="gitlab" width="20" style="margin-left: 20px;" />
      </a>
    </div>

  </nav>

  <div class="container">
    <div class="border">
      <small v-if="!current.init">Loading...</small>
      <div v-else>
        <div class="icon">
          <img src="./assets/icon2.svg" alt="fan" width="50" :class="current.status == 1 ? 'rotate' : ''" />
        </div>
        <h2>Sensor Readings</h2>
        <h1>{{ current.temp }} &#8451;</h1>
        <h4>Humidity: {{ current.humidity }}%</h4>
      </div>
    </div>
  
    <div class="border">
      <small v-if="!current.init">Loading...</small>
      <div v-else>
        <h2>User Settings</h2>
        <h1>{{ settings.temp }} &#8451;</h1>
        <h4>Humidity: {{ settings.humidity }}%</h4>
      </div>
    </div>

    <div class="border">
      <small v-if="!current.init">Loading...</small>
      <div v-else>
        <h1>Last Sync</h1>
        <h4>Current: {{ lastSync._lastCurrentSync !== 0 ? `${lastSync._lastCurrentSync.getSeconds()} seconds` : 'Not Synced'  }}</h4>
        <h4>Settings: {{ lastSync._lastUserSync !== 0 ? `${lastSync._lastUserSync?.getSeconds()} seconds` : 'Not Synced' }}</h4>
      </div>
    </div>
  </div>

  <transition name="modal">
    <Modal v-if="showModal">
      <template v-slot:body>
        <div>
          <strong>Temperature ({{ settings_tmp.temp }} &#8451;):</strong> <br />
          <input :disabled="settings_tmp.loading || settings_tmp.saved" v-model="settings_tmp.temp" type="range" min="1" max="46" class="slider" id="temp_range"  />
        </div>

        <div>
          <strong>Humidity ({{ settings_tmp.humidity }}%):</strong> <br />
          <input :disabled="settings_tmp.loading || settings_tmp.saved" v-model="settings_tmp.humidity" type="range" min="1" max="100" class="slider" id="hum_range"  />
        </div>
      </template>

      <template v-slot:footer>
        <button class="modal-default-button" id="close" @click="close" :disabled="settings_tmp.loading || settings_tmp.saved">
            Close
        </button>

        <button class="modal-default-button" id="save" @click="save" :disabled="settings_tmp.loading || settings_tmp.saved">
            <span v-if="!settings_tmp.loading && !settings_tmp.saved && showModal">Save Settings</span>
            <span v-if="settings_tmp.loading && showModal">Loading ...</span>
            <span v-if="settings_tmp.saved && !settings_tmp.loading">Saved</span>
        </button>
      </template>
    </Modal>
  </transition>


  <h5 id="credits">Created By: <span>Abdullah Alharbi</span> — <span>Abdullah Aldawsari</span> at CTI.</h5>
</template>

<style scoped>
#credits {
  margin-top: 35px;
  text-align: center;
  text-shadow: 0 0 12px #2d4fd4;
}
</style>
