@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.container {
  display: flex;
  justify-content: space-evenly;
}


.border {
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px #2d4fd4;
  text-shadow: 0 0 12px #2d4fd4;
}


nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}


nav button {
  background-color: transparent;
  padding: 11px 14px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 12px #181818;
  text-shadow: 0 0 12px #181818;
  transition: all 250ms;
}


nav button:hover {
  box-shadow: 0 0 12px #2d4fd4;
  text-shadow: 0 0 12px #2d4fd4;
}


.logo h1 strong {
  text-shadow: 0 0 12px #2d4fd4;
}





.modal-footer button {
  background-color: transparent;
  padding: 11px 14px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 12px #181818;
  text-shadow: 0 0 12px #181818;
  transition: all 250ms;
}

#save:hover {
  box-shadow: 0 0 12px #2d4fd4;
  text-shadow: 0 0 12px #2d4fd4;
}

#close:hover {
  box-shadow: 0 0 12px #d42d2d;
  text-shadow: 0 0 12px #d42d2d;
}

.rotate {
  animation: rotation 0.5s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
